{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
<br>
<br>
<h3 style="text-align: center;">About GecMonitor</h3>
<br>
<br>
<div style="padding-left:10%; padding-right:10%;">
    <h4>The Problem</h4>

    <p>This website is for nonprofits, professionals, and journalists in California that regularly track the progress of 
        pollution cleanup sites. Specifically, it’s for those that track several sites and find themselves clicking through 
        the same web pages on GeoTracker and EnviroStor over and over again looking for new information, or dealing with 
        sporadic emails whenever something new is posted on a particular site. </p>
    <br>
    <h4>The Solution</h4>
    <p>We solve that problem by allowing you to group the sites you track into reports. When you request an update on a 
        report, GecMonitor scans for new information and gives you a clean, simple update with any new activities and documents, 
        organized by site.</p>
    <p><span><em>To put it simply, it checks all your sites for you and gives you any new information and documents on a single page.</em></span></p>
    <br>
    <h4>Where We Are & What's Ahead</h4>
    <p>For now, GecMonitor tracks a site's status and new actions in the “Regulatory Activities” tab on GeoTracker.</p>
    <p>In the future, we hope to expand the type of information our reports can monitor on GeoTracker (Cleanup Action Reports, 
        Environmental Data, Site Maps / Documents, Community Involvement, etc.). The broader vision is to make our reports your 
        hub for new information on the sites you track, getting updates from not only GeoTracker but EnviroStor and city meeting 
        agendas and minutes. That’s actually where were got the “Gec” in “GecMonitor”:</p>
    <p><span><strong>G</strong></span>eoTracker</p>
    <p><span><strong>E</strong></span>nviroStor</p>
    <p><span><strong>C</strong></span>ity meeting agendas and minutes</p>
    <br>
    <p>To sum up: GecMonitor is here so you can spend less time <span><em>looking</em></span> for information, and more time <span><em>using</em></span> it.</p>
    <br>
    <br>
</div>
{% endblock content %}