{% extends 'base.html' %}

{% block title %}
Account Details | GecMonitor.com
{% endblock title %}

{% block content %}
<br>
<br>
<h3 style="text-align: center;">Account Details</h3>
<br>
<div class="col-sm-6 mx-auto" style="width: 20rem; text-align: center;">
    <div class="card" style="height:auto;">
        <div class="card-body">
            <div class="form-group" style="text-align:left;">
                <p>{{ current_user.first_name }} {{ current_user.last_name }}</p>
                <p>Email: {{ current_user.email }}</p>
                <a href="{{ url_for('editaccount', current_user_id=current_user.id) }}"><button class="btn btn-outline-secondary btn-sm" type="button">Edit Account</button></a>
            </div>
        </div>
    </div>
{% endblock content %}