{% extends 'base.html' %}

{% block title %}
Add a Site | GecMonitor.com
{% endblock title %}

{% block content %}
<br>
<br>
<h4 style="text-align:center;">Add a GeoTracker site to monitor</h4>
<br>
    <div style="margin:auto 15%;">
        <p>You can name the site whatever you like (for simplicity, we recommend using the name GeoTracker assigned the site), 
            but you <strong>must</strong> provide an accurate GeoTracker Global ID for the site you wish to monitor.</p>
        <br>   
        <div>
            <p style="line-height:0%; text-decoration: underline;">Example</p>
            <p><strong>Site name:</strong> Capitol Park Hotel &nbsp; | &nbsp; <strong>GeoTracker Global ID:</strong> T10000016392</p>
            <p>(Need to look up a site's name or Global ID? Visit <a href="https://geotracker.waterboards.ca.gov/map/?CMD=runreport&myaddress=Sacramento">GeoTracker's database</a>)</p>
        </div>
        <br>
    </div>
<div class="col-sm-6 mx-auto" style="width: 20rem; text-align: center;">
    <div class="card" style="height:auto;">
        <div class="card-body">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <fieldset style="text-align: left;">
                    {{ form.site_name.label }}
                    {{ form.site_name(class="form-control") }}
                    </fieldset>
                    <br>
                    <fieldset style="text-align: left;">
                    {{ form.gt_global_id.label }}
                    {{ form.gt_global_id(class="form-control") }}
                    </fieldset>
                    <br>
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>

{% endblock content %}