{% extends 'base.html' %}

{% block content %}
<br>
<br>
<h3 style="text-align: center;">Edit Account</h3>
<br>
<div class="col-sm-6 mx-auto" style="width: 20rem; text-align: center;">
    <div class="card" style="height:auto;">
        <div class="card-body">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group" style="text-align:left;">
                    <fieldset>
                    {{ form.first_name.label }}
                    {{ form.first_name(class="form-control") }}
                    </fieldset>
                    <br>
                    <fieldset>
                    {{ form.last_name.label }}
                    {{ form.last_name(class="form-control") }}
                    </fieldset>
                    <br>
                    <fieldset>
                    {{ form.email.label }}
                    {{ form.email(class="form-control") }}
                    </fieldset>
                    <br>
                    <div style="text-align:center;">
                        {{ form.submit(class="btn btn-primary", value="Save") }}
                    </div>
                </div>
            </form>
            <br>
            <p>Want to change your password? <a href="{{ url_for('updatepassword', current_user_id=current_user.id) }}">Update Password</a></p>
        </div>
    </div>
</div>
<br>
<!-- Button trigger modal -->
<div class="text-center">
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete Account</button>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Account - Are you sure?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="text-align: left;">
            <strong>If you delete your account, all of your personal information, sites, and reports will be deleted.</strong> Are you sure you want to delete?
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <form action="{{ url_for('account_delete', user_id=current_user.id) }}" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
            </div>
        </div>
        </div>
    </div>
</div>
<br>
<br>

{% endblock content %}