{% extends 'base.html' %}

{% block content %}
<br>
<br>
<h3 style="text-align: center;">Edit {{ report.report_name }}</h3>
<br>

<div class="card mx-auto bg-light" style="width:auto; max-width:35rem;">
    <div class="card-body">
        {% from "_formhelpers.html" import render_field %}
        <form action="" method="POST" class="form-inline">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <fieldset>
                {{ render_field(form.report_name, class="form-control") }}
                </fieldset>
                <br>
                <fieldset>
                {{ render_field(form.current_user_sites, class="list-unstyled") }}
                </fieldset>
                <fieldset>
                {{ render_field(form.description, class="form-control") }} 
                </fieldset>
                <br>
                <div style="text-align: center;">
                    {{ form.submit(class="btn btn-primary", value='Save') }}
                </div>
            </div>
        </form>
    </div>
  </div>

{% endblock content %}