{% extends 'base.html' %}

{% block title %}
Login | GecMonitor.com
{% endblock title %}

{% block content %}

<br>
<br>
<h3 style="text-align: center;">Login</h3>
<br>
<div class="col-sm-6 mx-auto" style="width: 20rem; text-align: center;">
    <div class="card" style="height:auto;">
        <div class="card-body">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    <fieldset>
                    {{ form.email.label }}
                    {{ form.email(class="form-control") }}
                    </fieldset>
                    <br>
                    <fieldset>
                    {{ form.password.label }}
                    {{ form.password(class="form-control") }}
                    </fieldset>
                    <br>
                    <fieldset>
                        {{ form.remember_me(class='form-check-input') }}
                        {{ form.remember_me.label(class="form-check-label") }}
                    </fieldset>
                    <br>
                    {{ form.submit(class="btn btn-primary", value="Login") }}
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}