{% extends 'base.html' %}

{% block content %}
<br>
<br>
<h3 style="text-align:center;">{{ report.report_name }}</h3>
<h4 style="text-align:center;">{{ dt.date.strftime(report_update.scraped_on, '%A, %b. %d, %Y') }} Report</h4>
<br>
{% for site in site_updates %}
    <div class="col-sm-6 mx-auto" style="width: 60rem;">
        <div class="card" style="height: auto;">
            <div class="card-body">
                <h5>{{ Site.query.filter_by(id=site.site_id).first().site_name }} ({{ Site.query.filter_by(id=site.site_id).first().gt_global_id }})</h5>
                {% if site.status_changed == True %}
                <p style="color:red;">NOTICE: Site status has changed to {{ site.site_status }} </p>
                {% else %}
                <div>
                    <p>Current status</p> 
                    <p style="line-height: 0;">{{ site.site_status }}</p>
                </div>
                {% endif %}
                {% if site.new_actions == [] %}
                <br>
                <p>There are no new actions as of this update.</p>
                {% else %}
                <table>
                    <tr>
                      <th>Action Type</th>
                      <th>Action</th>
                      <th>Action Date</th>
                      <th>Received/<br>Issued Date</th>
                      <th>Description</th>
                      <th>Docs</th>
                    </tr>
                    {% for new_action in site.new_actions %}
                    <tr>
                        <td>{{ new_action.action_type }}</td>
                        <td>{{ new_action.action }}</td>
                        <td>{{ new_action.action_date }}</td>
                        <td>{{ new_action.received_date }}</td> 
                        <td>{{ new_action.description }}</td>
                        {% if new_action.new_docs == [] %}
                        <td>No documents were posted with this action</td>
                        {% else %}
                        <td>
                            {% for new_doc in new_action.new_docs %}
                            <a href="{{ new_doc.doc_link }}" target="_blank">{{new_doc.doc_name}}</a>
                            <br>
                            {% endfor %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
        <br>
    </div>
    {% endfor %}
                
                
{% endblock content %}